# Used by setup.py sdist to include files in the source package
include setup.py
include README.rst
include LICENSE
include desktop_security_assistant/checks/*.yaml
include desktop_security_assistant/data/*.png
